.h5,
h5 {
	font-size: 1.25em;
}

h6,
.h6 {
	font-size: 1em !important;
}

.search-box {
	grid-template-areas: "stack";
	justify-items: end;
}

.card-body {
	padding: 1rem 0 !important;
}

.card-title,
.card-subtitle {
	width: max-content;
	white-space: nowrap;
	text-align: center;
	margin-inline: auto;
}

.card-title>a {
	color: currentColor;
	text-decoration: none;
}

.debt.income .card-subtitle {
	color: var(--bs-primary);
}

.debt.outcome .card-subtitle {
	color: var(--bs-danger);
}

.debt {
	display: grid;
	grid-template-columns: auto 1fr auto;
	place-items: center;
	font-size: clamp(0.75rem, 1vw, 1.25rem);
}

.card-text.small {
	margin: 0 !important;
	width: max-content;
	white-space: nowrap;
}

.card-img-top {
	padding: 1em;
	width: 66px;
	aspect-ratio: 1;
}

svg {
	width: auto !important;
}

.card-footer {
	background-color: transparent;
	border: 0;
}

.search-box>* {
	grid-area: stack;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--limit-width), 1fr));
	gap: 1rem;
}

.btn-container {
	grid-column: 1 / -1;
	display: grid;
	place-items: center;
}

.add-debt-container {
	width: fit-content;
	inset: auto 4vw 4vw auto;
}

.card-ud {
	font-size: 1.5em;
}

.btn-add-debt {
	font-size: 2em;
	aspect-ratio: 1;
    display: grid;
    place-items: center;
}

.navbar-toggler:focus {
	outline: none;
	box-shadow: 0 0 0 0 !important;
}

.card.income:not(.debt) {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

.card.income:not(.debt) .card-title {
	color: var(--bs-primary);
}